.logo {
    position: relative;
    height: 4.5rem;
}

.logo img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    .logo {
        height: 4rem;
    }
}