@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f3f3f3;
  overflow-x: hidden;
}

.btn {
  position: relative;
  padding: 1rem 2rem;
  background-color: rebeccapurple;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  position: relative;
  transition: 0.8s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
  transition: 0.5s;
}

.non_scroll {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.image_blur {
  position: relative;
  filter: blur(10px);
  background: rgba(187, 173, 173, 0.7);
  opacity: 0.7;
}